{% autoescape off %}
Congratulation {{ user_author.username }}!

User {{ current_user.username }} bid ${{ game.auction_bid }} to your game account "{{ game.title }}"!

Wait for auction time ending add give a login and password on your account to user {{ current_user.username }} from your account.

After his confirmation we will transferr his money to your account.
<!-- 

To add your login and password click the link below:
http://{{ domain }}{% url 'products:send_login_password' uidb64=uid token=token game_id=game.id author_id=user_author.id buyer_id=current_user.id %}
 -->
{% endautoescape %}
