{% for game in games %}
	<tr>
	  <td><a href="/products/{{ game.id }}/details/">{{ game.title }}</a></td>
	  <td><a href="/accounts/profile/{{ game.author_id }}">{{ game.author }}</a></td>
	  <td>{{ game.get_game_type_display }}</td>
	  <td>{{ game.publication_date }}</td>
	  <td>{{ game.price }}</td>
	  <td>

	  {% if user == game.author %}
      <button type="button"
              class="btn btn-warning btn-sm js-update-game"
              data-url="{% url 'products:game_update' game.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-game"
              data-url="{% url 'products:game_delete' game.id %}">
        <span class="glyphicon glyphicon-trash"></span> Del
      </button>

      {% else %}
      <a href="{{ game.id }}/details/">
	      <button type="submit" class="btn btn-warning btn-sm">
	      	Details 
	      </button>
	    </a>
      {% endif %}

    </td>
	</tr>
{% empty %}
	<tr>
	  <td colspan="7" class="text-center bg-warning">No games</td>
	</tr>
{% endfor %}
