<form method="post" action="{% url 'products:game_update' form.instance.pk %}" class="js-game-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update game</h4>
  </div>
  <div class="modal-body">
    {% if user.is_authenticated %}
      {% include 'products/includes/partial_game_form.html' %}
    {% else %}
      <p>You must to login first</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% if user.is_authenticated %}
      <button type="submit" class="btn btn-primary">Update game</button>
    {% endif %}
  </div>
</form>