{% load widget_tweaks %}
{% load static %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Login or Sign up on Buy and Play!</h4>
</div>

<ul class="nav nav-tabs">
  <li><a href="#tab1" data-toggle="tab">Login</a></li>
  <li><a href="#tab2" data-toggle="tab">Registration</a></li>
</ul>

<div class="tab-content">
  {# Login tab #}
  <div class="tab-pane" id="tab1">

  <form method="post" action="{% url 'accounts:login_user' %}" class="js-user-create-form">
    {% csrf_token %}
    
    <div class="modal-body">
      {% for field in login_form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}

    {% if confirm_error %}
      <p class="help-block">You must confirm your account first!</p>
    {% else %}
      {{ login_form.non_field_errors }}
    {% endif %}
    
    </div>
    <div class="modal-footer">
      
      <div align='center'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <img src='{% static 'images/loading.gif' %}' style="display: none;" id="loader" width='60'>
        <button id='submit_login' name='login' type="submit" class="btn btn-primary">Login!</button>
      </div>
    </div>
<!--     Dont have acc?<a href="#tab2" data-toggle="tab">CREATEEEE</a> -->
  </form>
  </div>

  {# Registration tab #}
  <div class="tab-pane" id="tab2">
  <form method="post" action="{% url 'accounts:signup_user' %}" class="js-user-create-form">
    {% csrf_token %}
    
    <div class="modal-body">
      {% for field in signup_form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="modal-footer">

      <div align='center'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <img src='{% static 'images/loading.gif' %}' style="display: none;" id="loader" width='60'>
        <button id='submit_signup' name='signup' type="submit" class="btn btn-primary">Sign up!</button>
      </div>
    </div>
    </div>
  </form>

  </div>
</div>

<script>
// autofocus at username
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($(e.target).attr("href")).find('.form-control').first().focus();
   })
</script>


{% if signup_form_active %}
<script>
  $('a[href="#tab2"]').tab('show'); 
</script>

{% else %}

<script>
  $('a[href="#tab1"]').tab('show'); 
</script>
{% endif %}