<h2>Add a comment</h2>

<form method="post">
	{% csrf_token %}

	<table>
	{% for field in comment_form %}
	  <tr>
	    <td>{{ field.label_tag }}</td>
	    <td>{{ field }}</td>
	  </tr>
	    {% if field.help_text %}
	  <tr>
	      <td><td><small style="color: grey">{{ field.help_text }}</small></td></td>
	  </tr>
	    {% endif %}

	    {% for error in field.errors %}
	    <tr>
	      <td><td><p style="color: red">{{ error }}</p></td></td>
	    </tr>
	    {% endfor %}
	{% endfor %}
	</table>

	<button type="submit" class="btn btn-danger">Submit</button>

</form>
