<p>
<form id="comment_form" method="post" style="display:none">
	{% csrf_token %}

	<table>
	{% if not current_user.is_authenticated %}
		<tr><td><b>Name:</b><td>
		<tr><td>
		<input 
		type="text" 
		name="text"
		placeholder="Your name" 
		required="required">
		</td></tr>
		<tr><td><b>Email:</b><td>
		<tr><td>
  	<input 
  	type="email" 
  	name="email"
  	title="Contact's email (format: xxx@xxx.xxx)" 
  	placeholder="email@example.com" 
  	pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)" 
  	required="required">
  	</td></tr>
  {% endif %}

		<tr>
			<td><b>Comment:</b></td>
		</tr>
		<tr>
			<td>{{ comment_form.body }}</td>
		</tr>
		{% if comment_form.body.help_text %}
		  <tr>
		    <td><td>
		    	<small style="color: grey">{{ comment_form.body.help_text }}</small>
		    </td></td>
		  </tr>
	  {% endif %}

    {% for error in comment_form.body.errors %}
    <tr>
      <td><td>
      	<p style="color: red">{{ error }}</p>
      </td></td>
    </tr>
    {% endfor %}

    <tr>
    	<td>
    	    
    	    <div id='html_element'></div>
			<div class="g-recaptcha" data-sitekey="6LdglCgUAAAAAAzuPFTrLba5YuDTrO3aV_pTr9IF"></div>

    		<button id="submit_comment" type="submit" class="btn btn-calltoaction btn-primary" style="display:none">Comment</button>
			</td>
		</tr>

	</table>
</form>
