{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h1>Profile</h1>
<p>Username: {{ user }}</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>Email : {{ user.email }}</p>

<div class="col-md-6 col-sm-6">
  <a href="{{ user.userprofile.image.url }}" class="img image-popup">
  	<div class="overlay">Your profile image</div>
  	<img src="{{ user.userprofile.image.url }}" alt="{{ user }}" class="img-responsive">
  </a>
</div>

{% endblock content %}
