<!DOCTYPE HTML>
{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% block title %}Buy and Play{% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Buy or sell game account. Safely. Quickly. Reliably" />
    <meta name="keywords" content="Buy game, buy account, sell game, sell account, Hearthstone, HS, WOW, HOTS, Word of Warcraft" />
    <meta name="author" content="Pavlo Olshansky" />

    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <!-- Google Webfont -->
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <!-- Icomoon Icons -->
  <link rel="stylesheet" href="{% static 'css/icomoon-icons.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  {% block extra_css %}
  {% endblock extra_css %}

  <!-- FOR IE9 below -->
  <!--[if lte IE 9]>
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body class="fh5co-inner">
  {% block header %}
  <header id="fh5co-header" role="banner">
    
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="/">Buy and Play</a>
          </div>
          <div id="fh5co-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/products/">
              <strong><span class="glyphicon glyphicon-th-list"></span> Games</strong></a></li>

              {% if user.is_authenticated %}
                <li><a href="/accounts/profile/">
                <span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/accounts/profile/edit/">
                <span class="glyphicon glyphicon-edit"></span> Edit profile</a></li>
                <li>
                  <a href="/accounts/logout/" 
                  data-toggle="tooltip" 
                  data-placement="bottom" 
                  title="Logout">
                    <span class="glyphicon glyphicon-off"></span>
                  </a>
                </li>
              {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if not user.is_authenticated %}
                <li><a class="btn btn-calltoaction btn-primary js_login_signup_up">Login or Sign Up
                <span class="glyphicon glyphicon-log-in"></span></a></li>
                <li><a><center>AND SEE</center></a></li>
              {% endif %}
              <li><a href="/products/" class="btn btn-calltoaction btn-primary">All games</a></li>
            </ul>
          </div>
        </div>
      </nav>

  </header>
  {% endblock header %}

  {% block background_image %}
    <div id="fh5co-page-title" style="background-image: url({% static 'images/BG/BG_blizzard.png' %})">
  {% endblock background_image %}

  {% block header_on_background %}
    <div class="overlay"></div>
      <div class="container">
        <div class="text">
          <h1>Buy and Play</h1>  
        </div>
      </div>
    </div>
  {% endblock header_on_background %}

  {% block main_content %}
  <main role="main" id="fh5co-main">
    <div class="container">
      <div class="row">
        
        <div class="col-md-8 col-md-push-1" id="fh5co-content">

          {% block content %}
          <h1><strong><center>
            <a href="/"><button class="btn btn-primary">Home</button></a>
          <center></strong></h1>
          {% endblock content %}
        </div>
      </div>
    </div>
  </main>
  {% endblock main_content %}

  {% block footer %}
  <footer role="contentinfo" id="fh5co-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-box border-bottom">
            <h3 class="footer-heading">About Us</h3>
            <p>We are a company that provides secure transfer of account and money.
            Our prisiples is simple. We do our job:
              <ul class="footer-list">
                <li>
                  <a>Safely. </a>
                  <a>Quickly. </a>
                  <a>Reliably </a>
                </li>
              </ul>
            </p>
          </div>
          <p><strong>Subscribe to our newsletter.</strong></p>
          <form action="#" class="form-subscribe">
            <div class="field">
              <input type="email" class="form-control" placeholder="email@gmail.com">
              <button class="btn btn-primary">Subscribe</button>
            </div>
          </form>
        </div>

        <div class="col-md-3 col-sm-6">
          <h3 class="footer-heading">Buy and play in socials!</h3>
          <ul class="footer-list">
            <li><a href="https://www.facebook.com/groups/475473516135503/?ref=aymt_homepage_panel" target="_blank">Facebook</a></li>
            <li><a href="https://vk.com/club149382078" target="_blank">Vkontakte</a></li>
          </ul>
        </div>

        <div class="visible-sm clearfix"></div>
          <div class="col-md-3 col-sm-6">
            <h3 class="footer-heading">Policy</h3>
            <ul class="footer-list">
              <li><a href="#"><abbr title="Rules">Our policy</abbr></a></li>
              <li><a href="#">Privacy</abbr></a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 clearfix">
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <div class="footer-box">
                <h3 class="footer-heading">Get in Touch</h3>
                <ul class="footer-list">
                  <li><a href="/get_in_touch/our_team/">Our Team</a></li>
                  <li><a href="/get_in_touch/contact_us/">Contact Us</a></li>
                  <li><a href="/get_in_touch/support/">Support</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <p class="text-center"><small> 
            Buy and Play
            <br> &copy; 2017. All Rights Reserved.</small></p>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <!-- Go To Top -->
  {% block go_to_top %}
    <a href="#" class="fh5co-gotop"><i class="ti-shift-left"></i></a>
  {% endblock go_to_top %}

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
  </div>

  {% endblock footer %}
    
    {% block js_block %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <!-- FastClick for Mobile/Tablets -->
    <script src="{% static 'js/fastclick.js' %}"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="{% static 'js/google_map.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Registration JS -->
    <script src="{% static 'js/registration/registration.js' %}"></script>

    <script type="text/javascript">
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    
    {% endblock js_block %}

    {% block extra_js %}
    {% endblock extra_js %}

</body>
</html>
