<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            
            {% if user.is_authenticated %}
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
                <br><a href="/signup/">Sign Up</a>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>