{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

<head>
    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Google Webfont -->
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <!-- Icomoon Icons -->
  <link rel="stylesheet" href="{% static 'css/icomoon-icons.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
  <!-- FOR IE9 below -->
  <!--[if lte IE 9]>
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>

<body class="fh5co-outer">
  <header id="fh5co-header" role="banner">
    
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header"> 
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="index.html">Build</a>
          </div>
          <div id="fh5co-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="inside-page.html">Inside Page</a></li>
              <li><a href="elements.html">Elements</a></li>
              {% if user.is_authenticated %}
                <li><a href="/accounts/logout/">Logout</a></li>
                <li><a href="/accounts/profile/">Profile</a></li>
                <li><a href="/accounts/profile/edit/">Edit profile</a></li>
              {% else %}
                <li><a href="/accounts/login/">Login</a></li>
                <li><a href="/accounts/signup/">Sign Up</a>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="btn btn-calltoaction btn-primary">Get in touch</a></li>
            </ul>
          </div>
        </div>
      </nav>

  </header>

  {% block background_image %}
  <div id="fh5co-hero" style="background-image: url(images/hero_2.jpg)">
  {% endblock background_image %}

    {% block header_on_background %}
    <a href="#fh5co-main" class="smoothscroll animated bounce fh5co-arrow"><i class="ti-angle-down"></i></a>
    <div class="overlay"></div>
    <div class="container">
      {% block main_title %}
      <div class="col-md-8 col-md-offset-2">
        <div class="text">
          <h1> <strong >BUILD</strong> a free HTML5 template <em>by</em> <strong>FREEHTML5.co</strong></h1>
        </div>
      </div>
      {% endblock main_title %}
    </div>
  </div>
  {% endblock header_on_background %}

  {% block main_content %}
  <main role="main" id="fh5co-main">
    <section class="feature">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-gift"></i></div>
              <div class="feature-text">
                <h3>Download for Free</h3>
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Quidem reiciendis consequuntur nisi enim similique officiis sint, in sequi iste repellat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-heart"></i></div>
              <div class="feature-text">
                <h3>Crafted with Love</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis consequuntur nisi enim similique officiis sint, in sequi iste repellat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-mobile"></i></div>
              <div class="feature-text">
                <h3>Mobile First</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis consequuntur nisi enim similique officiis sint, in sequi iste repellat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END .feature -->

    <section class="grid-gallery">
      <div class="container">
        

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading">Galleries</h2>
          </div>
        </div>

        <div class="row gallery-row">
          
          <div class="col-md-6 col-sm-6">
            <a href="images/img_1.jpg" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Project 1</h2>
              </div>
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="row first-row">
              <div class="col-md-6 col-sm-6">
                <a href="images/img_2.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 2</h2>
                  </div>
                  <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="images/img_3.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 3</h2>
                  </div>
                  <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <a href="images/img_4.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 4</h2>
                  </div>
                  <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="images/img_5.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 5</h2>
                  </div>
                  <img src="{% static 'images/img_5.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        </div>
		
		<!-- Gallery Row -->

        <div class="row gallery-row">
          <div class="col-md-6 col-sm-6">
            <div class="row first-row">
              <div class="col-md-6 col-sm-6">
                <a href="images/img_6.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 6</h2>
                  </div>
                  <img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="images/img_7.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 7</h2>
                  </div>
                  <img src="{% static 'images/img_7.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <a href="images/img_8.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 8</h2>
                  </div>
                  <img src="{% static 'images/img_8.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="images/img_9.jpg" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Project 9</h2>
                  </div>
                  <img src="{% static 'images/img_9.jpg' %}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-sm-6">
            <a href="images/img_10.jpg" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Project 10</h2>
              </div>
              <img src="{% static 'images/img_10.jpg' %}" alt="Image" class="img-responsive">
            </a>
          </div>
        </div>

        <!-- Gallery Row -->

        <div class="row">
          <div class="col-md-12 text-center">
            <div><a href="#" class="btn btn-primary">View Full Gallery</a></div>
          </div>
        </div>
        
       
        
      </div>
    </section>

    {% block left_description %}{% endblock left_description %}

    <script type="text/javascript">
      var disqus_config = function () { 
      this.language = "ru";
      };
    </script>

    {% load disqus_tags %}
    {% disqus_dev %}

    <script type="text/javascript">
      var disqus_developer = 1;
      var disqus_url = 'http://buyandplay.com/';
    </script>

    {% load disqus_tags %}
    {% disqus_show_comments %}

    
  </main>
  {% endblock main_content %}
