{% extends 'base.html' %}
{% load static %}
{% block title %}Our team{% endblock title %}

{% block extra_css %}
<style type="text/css">


.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 250px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 250px;
}
.img img {
  height: 100%;
}
.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.5s;
  z-index: 1;
}
.img__overlay:hover {
  opacity: 1;
}
.img__overlay {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 24px;
}
</style>
{% endblock extra_css %}


{% block background_image %}
  <div id="fh5co-page-title" style="background-image: url({% static 'images/Our_team/our_team_bg.png' %})">
{% endblock background_image %}

{% block header_on_background %}
  <div class="overlay"></div>
    <div class="container">
      <div class="text">
        <h1><strong>Buy and Play team</strong></h1>  
      </div>
    </div>
  </div>
{% endblock header_on_background %}

{% block content %}
	<div style=" float:left; display:inline">
		<a class="img" href="{% url 'get_in_touch:Pavlo_Olshansky' %}">
		  <div class="img__overlay">
		  	<h2><center>View <i><strong><br>Pavlo Olshansky</strong></i><br>bio &#10132;</center></h2>
		  </div>
		  <img src="{% static 'images/Our_team/Pavlo.jpg' %}" alt="Image" width="100%">
		</a>
		<h3><i><strong>Pavlo Olshansky</strong></i></h3>
		<h4><i>Main programmer</i></h4>
	</div>

	<div style=" float:left; display:inline;margin-left: 15%">
		<a class="img" href="{% url 'get_in_touch:Volodymyr_Tysovskyi' %}">
		  <div class="img__overlay">
		  	<h2><center>View <i><strong><br>Volodymyr Tysovskyi</strong></i><br>bio &#10132;</center></h2>
		  </div>
		  <img src="{% static 'images/Our_team/Vova.jpg' %}" alt="Image" width="100%">
		</a>
		<h3><i><strong>Volodymyr Tysovskyi</strong></i></h3>
		<h4><i>Assistant programmer</i></h4>
	</div>

	<div style=" float:left; display:inline;margin-top: 5%">
		<a class="img" href="{% url 'get_in_touch:Yuri_Bakalov' %}">
		  <div class="img__overlay">
		  	<h2><center>View <i><strong><br>Yuri Bakalov</strong></i><br>bio &#10132;</center></h2>
		  </div>
		  <img src="{% static 'images/Our_team/Yra.jpg' %}" alt="Image" width="100%">
		</a>
		<h3><i><strong>Yuri Bakalov</strong></i></h3>
		<h4><i>Finance manager</i></h4>
	</div>

	<div style=" float:left; display:inline;margin-left: 15%;margin-top: 5%">
	<a class="img" href="{% url 'get_in_touch:Ivan_Sytar' %}">
		  <div class="img__overlay">
		  	<h2><center>View <i><strong><br>Ivan Sytar</strong></i><br>bio &#10132;</center></h2>
		  </div>
		  <img src="{% static 'images/Our_team/Ivan.jpg' %}" alt="Image" width="100%">
		</a>
	  <h3><i><strong>Ivan Sytar</strong></i></h3>
	  <h4><i>Privacy and policy manager</i></h4>
	</div>

{% endblock content %}
