{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us - success{% endblock title %}


{% block content %}

<h1>Your message sended successful!</h1>
<h3>Wait for responce in near 24 hours!</h3>

  <div style="width:100%;text-align:center;">
    <span style="width:35%;display:inline;float:left;"><hr/></span>
    <span style="width:30%;display:inline;float:left;"><a href='/'><h2><button class='btn'>Home page</button></h2></a></span>
    <span style="width:35%;display:inline;float:left;"><hr/></span>
  </div>


{% endblock content %}

