{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Buy and Play &ndash; buy a game account{% endblock title %}

{% block header_on_background %}
    <div class="overlay"></div>
      <div class="container">
        <div class="text">
          <h1>Game list</h1>  
        </div>
      </div>
    </div>
  {% endblock header_on_background %}

{% block extra_js %}
  <script src="{% static 'js/products/games.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Games</h1>

  <!-- BUTTON TO TRIGGER THE ACTION -->
  <p>
    <button type="button"
            class="btn btn-primary js-create-game"
            data-url="{% url 'products:game_create' %}">
      <span class="glyphicon glyphicon-plus"></span>

      New game
    </button>
  </p>

  <table style="width: 100%;" class="table" id="game-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Game</th>
        <th>Publication</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% include 'products/includes/partial_game_list.html' %}
    </tbody>
  </table>

  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-game">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock %}