{% extends 'base.html' %}
{% load humanize %}

{% block title %}Details{% endblock %}

{% block header_on_background %}
  <div class="overlay"></div>
    <div class="container">
      <div class="text">
        <h1>Game details</h1>  
      </div>
    </div>
  </div>
{% endblock header_on_background %}

{% block content %}
    <hr>
    {% if is_own %}
        <h2 class="page-heading">(Your game) {{ game.title }}</h2>
        <small>{{ game.publication_date|naturalday }}</small>
    {% else %}
        <h2 class="page-heading">{{ game.title }}</h2>
        <small>{{ game.publication_date|naturalday }}</small>
    {% endif %}
    <hr>

    <p>Owner: <a href="/accounts/profile/{{ game.author_id }}">{{ game.author }}</a></p>
    <p>Type of game: {{ game.get_game_type_display }}</p>
    <p>Price: ${{ game.price }}</p>
    
    {% if not is_own and not game.is_accepted %}
    <a href="{% url 'products:accept_sell' game_id=game.id author_id=game.author_id %}">
        <button type="button" class="btn btn-calltoaction btn-primary">Accept</button>
    </a>
    {% endif %}

    {# PHOTOS section #}

    <!-- FORM TO UPLOAD THE IMAGES -->
    {% if is_own %}
      <hr>
      <form method="post" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        <h4>You can add and upload screenshot</h4>
        <p>{{ photo_form.file }}</p>
        <p><button>Upload photo</button></p>
      </form>
      <hr>
    {% endif %}

    <!-- CONTAINER TO DISPLAY THE IMAGES -->
    <div class="row" style="margin-top: 20px">
      {% for photo in photos %}
        <div class="col-sm-4 col-md-3" style="margin-left: 120px">
          <a href="{{ photo.file.url }}" class="img image-popup">
            <img src="{{ photo.file.url }}" width=300 style="border:6px outset white; margin-right:1em">
          </a>
        </div>
      {% endfor %}
    </div>

    {% if photos %}
      <hr>
    {% endif %}

    {# COMMENT Section #}
    <p><h3>Comments</h3></p>
    <!-- <p> There is {{ game.comments.count }} comments</p> -->
    
    {# COMMENT View #}

    <table id="comment-table" class="table2 table-comment">
        <tbody>
            {% for comment in game.comments.all %}  {# related name - comments #}
                {% include 'comments/comments_item_view.html' %}
            {% empty %}
                <p>There is no comments</p>
            {% endfor %}
        </tbody>
    </table>

    <button id='comment_show' class='btn btn-primary'>Add comment</button>
    {# Comment Form #}
    {% include 'comments/comments_item_form.html' %}

{% endblock %}


{% block extra_js %}

<script>
$('#comment_show').click(function(){
   $('#comment_form').toggle("slow");
});

// Under captcha comment button slow show
var onloadCallback = function() {
    grecaptcha.render('html_element', {
      'sitekey' : '6LdglCgUAAAAAAzuPFTrLba5YuDTrO3aV_pTr9IF',
      'callback' : correctCaptcha
    });
  };

  var correctCaptcha = function(response) {
    $('#submit_comment').show("slow");
};
</script>

{% endblock %}